.main {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(to right,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb))
}

.pokemonListing {
  font-size: 0.85rem;
  font-family: var(--font-mono);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 46.875rem;
  margin: 0 auto;
}

.pokemonListing a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}
